@-ms-viewport {
  width: device-width;
}

@-o-viewport {
  width: device-width;
}

@viewport {
  width: device-width;
}

html {
  overflow-y: auto;
}

img {
  max-width: 100%;
}

html, body {
  height: 100%;
}

body {
  margin: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #303030;
}

#menu {
  background-color: #499bea;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vw;
  padding: 1vw;
  border-radius: 5px;
}

#menu * {
  width: 3em;
  height: 3em;
  background: white;
  border-radius: 50%;
}

#mainArea {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#contenedorMenu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#menuEncabezado {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

#MenuCartaContenedor {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
}

#txtMenu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../img/center.jpg");
  font-size: 3em;
  font-family: CabinSketch;
  color: #ffffff;
}

#menuButtom {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  background: url("../img/bottom.jpg");
}

#contenedorMarca {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

#divTitulo {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2em;
  color: yellow;
  font-weight: bold;
  background-color: gray;
  padding: 10px;
  margin: 10px;
  text-align: center;
  border-radius: 10px;
}

#divNombre {
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 2em;
  background-color: white;
  padding: 10px;
  margin: 10px;
  border-radius: 10px;
}

#containerTxt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

#contenedorFrase {
  display: inline;
}

#contenedorFrase img {
  max-height: 200px;
  max-width: 200px;
  -o-object-fit: cover;
     object-fit: cover;
}

#statusBar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #499bea;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-family: "Lucida Console", Monaco, monospace;
  font-size: 1em;
}
/*# sourceMappingURL=css_marca1.css.map */