@viewport {
    width: device-width;
}
    
html {
overflow-y: auto;
}

img
{
    max-width: 100%;
}

html, body {
    height: 100%;
}

body {
    margin: 0%;
    display: flex;
    flex-direction: column;
    background-color: #303030;   
}

#menu {
    background-color: #499bea;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 1vw;     
    padding: 1vw;
    border-radius: 5px;
}

#menu * {
    width: 3em;
    height: 3em;    
	background: white;
	border-radius: 50%;	
}

#mainArea {
    flex-grow: 1;
    display: flex;
    //flex-flow: column nowrap;      
}

#contenedorMenu{
	display: flex;
	flex-direction: column;		
}

#menuEncabezado {
    flex: 1;	
}

#MenuCartaContenedor {
	display: flex;
	flex-flow: row wrap;	
}

#txtMenu {
    flex: 1;
    background: url('../img/center.jpg');
	font-size: 3em;	
	font-family: CabinSketch;
	color: #ffffff;	
}

#menuButtom {
    flex: 1;
	background: url('../img/bottom.jpg');
}

#contenedorMarca{
	display: flex;
	flex-direction: column;	
}

#divTitulo{
	font-family: "Lucida Console", Monaco, monospace;	
	font-size: 2em;
	color: yellow;
	font-weight: bold;
	background-color: gray;
	padding: 10px;
	margin: 10px;
	text-align: center;
	border-radius: 10px;
}

#divNombre{
	font-family: "Lucida Console", Monaco, monospace;	
	font-size: 2em;	
	background-color: white;
	padding: 10px;
	margin: 10px;
	border-radius: 10px;
}

#containerTxt{
	display: flex;
	padding: 10px;
}

#contenedorFrase{
	display: inline;	
}

#contenedorFrase img {
    max-height: 200px;
    max-width: 200px;
    object-fit: cover;
}

#statusBar {       
    // flex-grow: 1;
    display: flex;      
    background-color: #499bea;
    flex-flow: row wrap;
    justify-content: space-between;   
    font-family: "Lucida Console", Monaco, monospace;	
    font-size: 1em; 
}